// Utils styles

@import "./utils/vars";
@import "./utils/normalize";
@import "./utils/visually-hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

// Components styles
@import "./components/base";
@import "./components/container";
@import "./components/reset";
@import "./components/button";
@import "./components/heder";
@import "./components/logo";
@import "./components/nav";
@import "./components/contacts";
@import "./components/hero";
@import "./components/positions";
@import "./components/forms";
@import "./components/advances";
@import "./components/affairs";
@import "./components/taem";
@import "./components/socials";
@import "./components/customers";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/menu";
