.advances__section{
  @include section;
  
  @media screen and (min-width: 1200px) {
    @include section(94px);
  }
}

.advances__hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.advances__text .item{
  // width: 270px;
}

.advances__list{
  @extend .list;

  @media screen and (min-width: 768px){
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  }

  @media screen and (min-width: 1200px){
    display: flex;
} 
}

.advances__item{
  @media screen and (min-width: 768px){
    width: 354px;
  }

  @media screen and (min-width: 1200px){
    width: 270px;
  }
  
}

.advances__title{
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.advances__title::before {
  display: block;
  content: "";
  height: 120px;
  // width: 450px;
  background-size: contain;
  
  background-position: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px){
    width: 354px;
  }
  @media screen and (min-width: 768px){
    background-repeat: no-repeat;
    width: 270px;
  }

}
.icon__satellite::before{
  background-image: url(../images/css_images/advances/Group1.png);
}
.icon__clock::before{
  background-image: url(../images/css_images/advances/Group2.png);
}
.icon__laptop::before{
  background-image: url(../images/css_images/advances/Group3.png);
}
.icon__space::before{
  background-image: url(../images/css_images/advances/Group4.png);

}

.advances__text  {
  line-height: 1.71;
  font-size: 14px;
}