.footer__content{
  padding: 60px 0;
  background-color: var(--background-color-futer);
}

// .footer__container{
//   display: flex;
//   align-items: baseline;

//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0 15px;
// }

.address__content{
  margin-top: 20px;
}
.address__list{
  @extend .list;
}
.address__item{
  margin-bottom: 10px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.footer__logo--white{
color: var(--background-color);
}

.adress__link{

  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  @extend .linka;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link--white{

color: var(--background-color);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
font-style: normal;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.adress__link:hover,
.adress__link:focus{
color: var(--accent-color);
}
/* .footer-contacts:hover,
.footer-contacts:focus{
color: var(--accent-color);
} */

/* ======Footer social========= */


.join-site{
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.footer-social{
  margin-left: 70px;

}

.join-text{
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footersoc-link{
display: flex;
align-items: center;
justify-content: center;
  width: 44px;
  height: 44px;
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #FFFFFF;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.footersoc-link:hover,
.footersoc-link:focus {
background-color: var(--accent-color);
}

/* ========= Footer Forms======== */

.footer-form{
  margin-left: auto;
}


.footer-form-input{
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-form-input:focus,
.footer-form-input:hover{
  border-color: var(--accent-color); 
}

.footer-form-input::placeholder{
  
}
.footer-form-btn{
  position: relative;
margin-left: 12px;
padding-left: 28px;
}
.footer-form-icon{
  position: absolute;
  top: 15px;
  right: 13%;

}